.donations__money{
  list-style-type: none;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  align-self: center;
}

.donations__money:checked + .donations__button {
  border-color: #00275C;
}