.footer__everland-about {
  display: flex;
  column-gap: 116px;
  padding-bottom: 91px;
}

@media screen and (max-width: 768px) {
  .footer__everland-about {
    padding-bottom: 55px;
    column-gap: 55px;
  }
}

@media screen and (max-width: 450px) {
  .footer__everland-about {
    display: block;
    padding-bottom: 0;
  }
}
