.form-pay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(42, 48, 56, 0.1);
  border-radius: 30px;
  max-width: 691px;
  padding: 30px 17px 30px 17px;
  box-sizing: border-box;
}

/* DELETE */
.form-pay-test {
  padding: 100px 100px 100px 100px;
  background: #E7F0FF;
}