.text_size_small {
    font-weight: medium;
    font-size: 18px;
    margin: 30px;
    color: rgba(38, 38, 38, 0.5);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .text_size_small {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .text_size_small {
        font-size: 12px;
    }
}