.footer__subscribe-icons {
  display: flex;
  column-gap: 10px;
  padding: 11px 0 52px;
  list-style-type: none;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer__subscribe-icons {
    column-gap: 4px;
    padding: 8px 0 30px;
  }
}
