.footer__platform {
  max-width: 483px;
  padding-top: 18px;
  margin: 0;
}

@media screen and (max-width: 1439px) {
  .footer__platform {
    max-width: 294px;
  }
}

@media screen and (max-width: 767px) {
  .footer__platform {
    max-width: 300px;
    padding-bottom: 40px;
  }
}
