.footer__platform {
  max-width: 483px;
  padding-top: 14px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer__platform {
    max-width: 294px;
  }
}

@media screen and (max-width: 450px) {
  .footer__platform {
    max-width: 300px;
    padding-bottom: 30px;
  }
}
