.footer__platform {
  max-width: 483px;
  padding-top: 20px;
  margin: 0;
  padding-right: 30px;
}

@media screen and (max-width: 768px) {
  .footer__platform {
    max-width: 294px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .footer__platform {
    max-width: 300px;
    padding-bottom: 41px;
  }
}
