.text_type_label {
    font-style: normal;
    font-size: 20px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-family: 'Raleway';
    font-weight: 500;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .text_type_label {
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    .text_type_label {
        font-size: 14px;
    }
}