.footer__about-project {
  display: flex;
  column-gap: 112px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1439px) {
  .footer__about-project {
    column-gap: 57px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .footer__about-project {
    display: flex;
    justify-content: center;
    column-gap: 62px;
    padding-bottom: 38px;
  }
}

@media screen and (max-width: 320px) {
  .footer__about-project {
    justify-content: start;
    column-gap: 20px;
    padding-bottom: 38px;
  }
}
