.footer__subscribe-icon-tg {
  background-image: url(../../../images/telegram.svg);
  background-size: contain;
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 768px) {
  .footer__subscribe-icon-tg {
    width: 40px;
    height: 40px;
  }
}
