.footer__everland-about {
  display: flex;
  column-gap: 116px;
  padding-bottom: 87px;
}

@media screen and (max-width: 1440px) {
  .footer__everland-about {
    padding-bottom: 57px;
    column-gap: 55px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1439px) {
  .footer__everland-about {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .footer__everland-about {
    display: block;
    padding-bottom: 0;
  }
}
