.text_size_big {
<<<<<<< HEAD:src/blocks/text/_size/text_size_big.css
    font-weight: 700;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .text_size_big {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    .text_size_big {
        font-size: 14px;
    }
}
=======
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}

@media screen and (max-width: 768px) {
  .text_size_big {
    font-size: 16px;
    line-height: 120%;
  }
}
>>>>>>> dev:src/blocks/text/_size/_big/text_size_big.css
