.footer__container {
  display: flex;
  column-gap: 81px;
}

@media screen and (max-width: 768px) {
  .footer__container {
    column-gap: 56px;
  }
}

@media screen and (max-width: 450px) {
  .footer__container {
    display: block;
  }
}
