.info__second-images {
  height: 315px;
  width: 352px;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .info__second-images {
    width: 184px;
    height: 152px;
    top: 15px;
    right: 0;
  }
}

@media screen and (max-width: 450px) {
  .info__second-images {
    width: 190px;
    height: 144px;
    top: 230px;
    right: 120px;
  }
}
