accordion {
  max-width: 1360px;
  padding: 95px 20px 0;
  margin: 0 auto;
  display: flex;
}

@media screen and (max-width: 768px) {
  .accordion {
    padding: 47px 40px 0;
  }
}

@media screen and (max-width: 450px) {
  .accordion {
    padding: 33px 10px 0;
  }
}

 