.footer__support-icon-1 {
  background-image: url(../../../images/bilain.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 53px;
}

@media screen and (max-width: 1439px) {
  .footer__support-icon-1 {
    background-image: url(../../../images/bilain-768.jpg);
    width: 56px;
    height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .footer__support-icon-1 {
    width: 48px;
    height: 34px;
  }
}
