.donations{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:0px 10px 0px 10px;
  margin:0px 40px 0px 40px auto;
  background-color: #E7F0FF;
}