.stoties__cmall-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  padding-top: 160px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .stoties__cmall-card-container {
    padding-top: 39px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 450px) {
  .stoties__cmall-card-container {
    padding-top: 24px;
    padding-bottom: 30px;
    row-gap: 16px;
  }
}
