.stories__card-size-small {
  max-width: 670px;
  width: 100%;
  min-height: 0;
  padding: 25px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .stories__card-size-small {
    max-width: 334px;
    padding: 17px;
  }
}

@media screen and (max-width: 450px) {
  .stories__card-size-small {
    min-width: 300px;
    width: 100%;
    border-radius: 20px;
    padding: 14px;
  }
}
