.support__container {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 100px;
  margin: 0 40px 0 40px;
  width: 100%;
}

@media screen and (max-width: 1375px) {
  .support__container {
    align-items: center;
    margin: unset;
  }
}

@media screen and (max-width: 768px) {
  .support__container {
    padding-bottom: 50px;
  }
} 

@media screen and (max-width: 450px) {
  .support__container {
    padding-bottom: unset;
  }
}