.slider__slide {
  flex: 0 0 100%;
  align-items: stretch;
  border-radius: 30px;
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  height: 393px;
  max-width: -webkit-fill-available;
}