.slider__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 450px) {
    .slider__container {
        display: grid;
        grid-column: 1;
        grid-row: 3/3;
    }
}