.text_size_big {
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .text_size_big {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .text_size_big {
        font-size: 14px;
    }
}