.form-pay__title {
  margin: 0;
  padding: 0 0 16px 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
  text-align: center;
  width: 100%;
}

.form-pay__title:before, .form-pay__title:after {
  border-top: 1px solid #dadada;
  content: '';
  position: relative;
  width: 50%;
}
.form-pay__title:before { right: 10px; }
.form-pay__title:after { left: 10px; }

@media screen and (max-width: 768px) {
  .form-pay__title {
    padding: 0 0 24px 0;
  }
} 

@media screen and (max-width: 320px) {
  .form-pay__title {
    padding: 0 0 16px 0;
  }
} 