.form-pay__title {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
  text-align: center;
}

.form-pay__title:before, .form-pay__title:after {
  border-top: 1px solid #DADADA;
  content: '';
  position: relative;
  width: 50%;
}
.form-pay__title:before { right: 10px; }
.form-pay__title:after { left: 10px; }