.footer {
  padding: 80px 40px 84px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1440px) {
  .footer {
    justify-content: start;
  }
}

@media screen and (max-width: 1439px) {
  .footer {
    padding: 60px 40px 50px;
    justify-content: center;
  }
}

@media screen and (width: 768px) {
  .footer {
    justify-content: start;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    justify-content: start;
    padding: 40px 10px 50px;
  }
}
