.footer {
  padding: 80px 40px 84px;
  margin: 0;
}

@media screen and (max-width: 1439px) {
  .footer {
    padding: 58px 40px 53px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 32px 10px 30px;
  }
}
