.footer__subscribe-title {
  max-width: 655px;
}

@media screen and (max-width: 1439px) {
  .footer__subscribe-title {
    max-width: 187px;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .footer__subscribe-title {
    display: flex;
    justify-content: center;
    max-width: 300px;
  }
}
