.info__slider-controller {
    bottom: 0;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    left: unset;
    transform: unset;
    margin: 0;
    margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
    .info__slider-controller {
        margin: 16px 0 40px 0;
        max-width: 97px;

    }
}

@media screen and (max-width: 450px) {
    .info__slider-controller {
        justify-content: center;
        max-width: 95px;
        left: 113px;
        bottom: -13px;
    }
}