.form-pay__radio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: #FFFFFF;
  border: 1px solid #dadada;
  border-radius: 10px;

  width: 100%;
  height: 100%;
}