.section__highlight-h4 {
    font-weight: bold;
    font-size: 34px;
    line-height: 120%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section__highlight-h4 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .section__highlight-h4 {
        font-size: 16px;
    }
}