.footer__made-yandex {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding-top: 38px;
}

@media screen and (max-width: 768px) {
  .footer__made-yandex {
    /* column-gap: 11px; */
  }
}

@media screen and (max-width: 450px) {
  .footer__made-yandex {
    display: block;
  }
}
