.footer__made-yandex {
  grid-area: footer__made-yandex;
  display: flex;
  column-gap: 20px;
}

@media screen and (max-width: 1439px) {
  .footer__made-yandex {
    column-gap: 11px;
    padding-top: 31px;
  }
}

@media screen and (max-width: 767px) {
  .footer__made-yandex {
    display: block;
    padding-top: 38px;
  }
}
