.footer__support-icon-fond {
  background-image: url(../../../images/fond-grant.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 48px;
}

@media screen and (max-width: 768px) {
  .footer__support-icon-fond {
    width: 89px;
    height: 30px;
  }
}

@media screen and (max-width: 450px) {
  .footer__support-icon-fond {
    width: 73px;
    height: 25px;
  }
}
