.slider__list {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: nowrap;
    max-width: 100%;
    padding: 0;
    transition: transform .5s ease;
    gap: 0;
    margin: 0;
}



@media screen and (max-width: 450px) {
    .slider__list  {
        border-radius: 30px;
        overflow: hidden;
        position: relative;
    }
}