.gallery__cards {
    grid-auto-rows: 535px;
}

@media screen and (max-width: 768px) {
    .gallery__cards {


        grid-auto-rows: 399px;
        height: 419px;
        margin: 22px 40px 33px;
        overflow: hidden;
        margin-bottom: 33px;
    }
}

@media screen and (max-width: 450px) {
    .gallery__cards {
        grid-auto-rows: 304px;
        height: unset;
        gap: 35px;
        margin: 24px 10px 22px;
    }
}