.form-pay__button {
  width: 194px;
  height: 48px;
  margin: 0 272px 0 225px;
}


@media screen and (max-width: 768px) {
  .form-pay__button {
    width: 200px;
    height: 44px;
    margin: 0 auto;
  }
} 

@media screen and (max-width: 320px) {
  .form-pay__button {
    width: 260px;
    height: 44px;
  }
} 