.form-pay__input-error {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;

  position: absolute;
  width: min(60vw, 455px);
  top: calc(100% + 5px);
  left: 20px;
  color: #FF0000;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .form-pay__input-error {
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    width: max(80vw, 260px);
  }
} 

@media screen and (max-width: 450px) {
  .form-pay__input-error {
    width: max(80vw, 260px);
  }
} 