.button_type_slider_black {
    max-height: 35px;
    max-width: 35px;
    background-color: rgba(51, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
    fill: rgba(255, 255, 255, 1);
    margin: 0;

}

.button_type_slider_black:hover {
    background-color: rgba(12, 75, 160, 1);
}

.button_type_slider_black:active {
    background-color: rgba(0, 39, 92, 1);
}

.button_type_slider_black:disabled {
    background-color: rgba(196, 196, 196, 1);
    color: rgba(38, 38, 38, 0.5);
    fill: rgba(38, 38, 38, 0.5);
    cursor: not-allowed;
}

@media screen and (max-width: 320px) {
    .button_type_slider_black {
        height: 24px;
        width: 24px;
    }
}