.form-pay__radio_size_big {
  width: 316px;
  height: 48px;
}

@media screen and (max-width: 768px) {
  .form-pay__radio_size_big {
    width: 296px;
    height: 44px;
  }
} 

@media screen and (max-width: 320px) {
  .form-pay__radio_size_big {
    width: 122px;
    height: 44px;
  }
} 