.form-pay__checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 23px;
  border: 2px solid #DADADA;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}