.form-pay__container-summ {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: min(100%,657px);
}

@media screen and (max-width: 768px) {
  .form-pay__container-summ {
    gap: 16px;
    width: min(100%,628px);
  }
} 

@media screen and (max-width: 450px) {
  .form-pay__container-summ {
    margin-top: 4px;
    width: min(100%,260px);
  }
} 