.card__image-container {
  width: 380px;
  height: 300px;
  border-radius: 30px;
  flex: none;
  object-fit: cover;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .card__image-container {
    width: 274px;
    height: 212px;
  }
}