.news__cards-item {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .news__cards-item {
        height: 491px;
        width: 274px;
    }
    .news__cards-item:nth-last-of-type(n+3){
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .news__cards-item {
        height: 420px;
        width: 252px;
        gap: 10px;
    }
    .news__cards-item:nth-last-of-type(n+3){
        display: flex;
    }
}