.stories {
  max-width: 1360px;
  display: flex;
  justify-content: center;
  padding: 150px 40px 0;
}

@media screen and (max-width: 768px) {
  .stories {
    padding: 100px 40px 0;
  }
}

@media screen and (max-width: 450px) {
  .stories {
    padding: 64px 10px 0;
  }
}
